@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron" style="padding-left:25px">
    <h1>Not Sistemi Projesi</h1>
    <p class="lead">Öğrenci Not sistemi projemize hoşgeldiniz. Burada okul etkinlikleri ile ilgili çeşitli işlemleri yapabilirsiniz.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <div style="min-height: 125px;">
            <h2>Öğrenci İşlemleri</h2>
            <p>
                Öğrenci Listeleme, Ekleme, Güncelleme, Silme gibi işlemlerin yapıldığı sayfadır.
            </p>
        </div>
        <p><a class="btn btn-default" href="/Ogrenci/Index">Daha Fazlası &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <div style="min-height: 125px;">
            <h2>Dersler</h2>
            <p>Dersler ile ilgili işlem yapılan sayfamızdır.</p>
        </div>
        <p><a class="btn btn-default" href="/Default/Index">Daha Fazlası &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div style="min-height: 125px;">
            <h2>Sınav Notları</h2>
            <p>Sınav Notları ile ilgili işlem yapılan sayfamızdır.</p>
        </div>
        <p><a class="btn btn-default" href="/Notlar/Index">Daha Fazlası &raquo;</a></p>
    </div>
</div>