
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulüp Ekleme Sayfası</h2>

<form method="post" class="form-group">
    <div style="margin:20px 0;">
        <label style="margin:7px 0;">Yeni Adı</label>
        <input type="text"class="form-control" name="KULUPAD" placeholder="Yeni Kulüp Adını Giriniz.." />
    </div>
    <button class="btn btn-info">Kulüp Ekle</button>

</form>